In [ ]:
import pyspark.sql.functions as F

In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [ ]:
ais = spark.table('af_vault.ais')
print(ais.count())
ais = ais.filter(ais['basedatetime']!='BaseDateTime')
print(ais.count())
ais.cache()

9088564
9088555

DataFrame[mmsi: string, basedatetime: string, lat: float, lon: float, sog: float, cog: float, heading: float, vesselname: string, imo: string, callsign: string, vesseltype: string, status: string, length: float, width: float, draft: float, cargo: int]

In [ ]:
ais = ais.withColumn('year', ais['basedatetime'].substr(1,4))
ais = ais.withColumn('month', ais['basedatetime'].substr(6,2))
ais = ais.withColumn('day', ais['basedatetime'].substr(9,2))

In [ ]:
ais.show(4)

+---------+-------------------+--------+----------+----+------+-------+----------+----------+--------+----------+--------------------+------+-----+-----+-----+----+-----+---+
|     mmsi|       basedatetime|     lat|       lon| sog|   cog|heading|vesselname|       imo|callsign|vesseltype|              status|length|width|draft|cargo|year|month|day|
+---------+-------------------+--------+----------+----+------+-------+----------+----------+--------+----------+--------------------+------+-----+-----+-----+----+-----+---+
|235091871|2015-01-01T00:08:26|52.78763|-175.62761|10.3|  74.5|   86.0|EVA BULKER|IMO9544164|   2FJU4|        70|under way using e...| 185.0| 31.0|  6.6|   70|2015|   01| 01|
|247119100|2015-01-01T05:36:17|52.87994|-176.21738|10.7|-148.8|  263.0|      POLE|IMO9128245|    IBTE|        70|under way using e...| 224.0| 32.0|-12.8|   70|2015|   01| 01|
|247119100|2015-01-01T06:28:57|52.83234|-176.46661|11.0|-160.8|  254.0|      POLE|IMO9128245|    IBTE|        70|under way using e...| 224.0| 32.0|-12.8|   70|2015|   01| 01|
|247119100|2015-01-01T06:32:27|52.82851|-176.48291|11.0|-160.6|  254.0|      POLE|IMO9128245|    IBTE|        70|under way using e...| 224.0| 32.0|-12.8|   70|2015|   01| 01|
+---------+-------------------+--------+----------+----+------+-------+----------+----------+--------+----------+--------------------+------+-----+-----+-----+----+-----+---+
only showing top 4 rows